<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>871194115920-os4vt6i9jumrsd7thdpdc98vbgm68faa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.871194115920-os4vt6i9jumrsd7thdpdc98vbgm68faa</string>
	<key>API_KEY</key>
	<string>AIzaSyD-ohxBvtuoW9wquoamu5EpShdI77PKow0</string>
	<key>GCM_SENDER_ID</key>
	<string>871194115920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gymerhub.app</string>
	<key>PROJECT_ID</key>
	<string>gym-app-01-3b002</string>
	<key>STORAGE_BUCKET</key>
	<string>gym-app-01-3b002.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871194115920:ios:8aba142855697da0843655</string>
</dict>
</plist>